<link rel="stylesheet" href="./css/login.css">
<div class="card">
  <div class="col-md-6, card-header">
    <h2>Login</h2></div>
<div class='card-body'>
    <form class="form login-form">
      <div class="form-group">

        <input class="form-input" type="text" id="name-signup" placeholder="Username"/>
      </div>
      <div class="form-group">
        <input class="form-input" type="password" id="password-login" placeholder="Password"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Make yer mark, Matey</h2>
  </div>
  </form>
  <p><a href="/signup:">Sign Up</a></p>
</div>

<script src="./js/login.js"></script>
{{!-- straight up taken from the class material and student mini project --}}