<div class="header">
    <div class="logo">
        <h1>The Mast Dashboard</h1>
    </div>
</div>
<div class="card ms-3 me-3">
    <div class="card-header d-flex">
        <h3>Carve Your Post</h3>
    </div>
    <div class="card-body">
<form id="new-post">
    <div>
        <div class="form-group"><label for="title">Title of Post</label>
        <input type="text" class="form-control" id="title" placeholder="Make a Title">
    </div>
<div class="form-group"><label for="content">What have ye to say?</label>
        <textarea type="text" class="form-control" id="post" placeholder="Say what you want."></textarea>
    </div>
    <button type="Submit" class="btn mt-2">Make It So</button>
</form>
    </div></div>