<link rel="stylesheet" 
{{!-- href="./css/login.css"> --}}
<div class="card">
  <div class="col-md-6, card-header">
    <h2>Sign up</h2></div>
<div class='card-body'>
    <form class="signup-form">
      <div class="form-group">

        <input class="form-input" type="text" id="username-signup" placeholder="Username"/>
      </div>
      <div class="form-group">
        <input class="form-input" type="password" id="password-signup" placeholder="Password" autocomplete="current-password"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
<p><a href="/login">Come Aboard Instead</a></p>
  </div>
</div>

<script src="../public/js/signup.js"></script>